<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" th:fragment="menu-lateral">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile position-relative">
            <!-- User profile image -->
            <div class="profile-img">
                <img alt="user" class="w-100" th:src="@{/assets/images/users/profile.png}"/>
            </div>
            <!-- User profile text-->
            <div class="profile-text pt-1 dropdown">
                <a aria-expanded="false" class="dropdown-toggle u-dropdown w-100 text-white d-block position-relative"
                   data-bs-toggle="dropdown" href="#" id="dropdownMenuLink">
                    Markarn Doe
                </a>
                <div aria-labelledby="dropdownMenuLink" class="dropdown-menu animated flipInY">
                    <a class="dropdown-item" href="#">
                        <i class="feather-sm text-info me-1 ms-1" data-feather="user"></i>
                        My Profile
                    </a>
                    <a class="dropdown-item" href="#"
                    ><i
                            class="feather-sm text-info me-1 ms-1"
                            data-feather="credit-card"
                    ></i>
                        My Balance</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i
                            class="feather-sm text-success me-1 ms-1"
                            data-feather="mail"
                    ></i>
                        Inbox</a
                    >
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"
                    ><i
                            class="feather-sm text-warning me-1 ms-1"
                            data-feather="settings"
                    ></i>
                        Account Setting</a
                    >
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="authentication-login3.html"
                    ><i
                            class="feather-sm text-danger me-1 ms-1"
                            data-feather="log-out"
                    ></i>
                        Logout</a
                    >
                    <div class="dropdown-divider"></div>
                    <div class="ps-4 p-2">
                        <a class="btn d-block w-100 btn-info rounded-pill" href="#"
                        >View Profile</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <!-- PREGUNTAR COMO TRAER ESTOS MENUS Y ENLACES DESDE LA BASE DE DATOS CON THYMELEAF Y SPRING BOOT-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li th:each="menu : ${session.listaMenus}" class="sidebar-item">
              <!--th:href="${menu?.ruta}"-->
              <a aria-expanded="false" class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)">
                <i class="mdi mdi-gauge"></i>
                <span class="hide-menu" th:text="${menu.nombre}"></span>
              </a>
              <ul aria-expanded="false" class="collapse first-level">
                <li th:each="enlace : ${menu.listaEnlace}" class="sidebar-item">
                  <a class="sidebar-link" th:href="@{${enlace.ruta}}">
                    <i class="mdi mdi-adjust"></i>
                    <span class="hide-menu" th:text="${enlace.nombre}"> </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          
          <!--<ul id="sidebarnav">
              <li class="nav-small-cap">
                  <i class="mdi mdi-dots-horizontal"></i>
                  <span class="hide-menu">Personal</span>
              </li>
              <li class="sidebar-item">
                  <a
                          aria-expanded="false"
                          class="sidebar-link has-arrow waves-effect waves-dark"
                          href="javascript:void(0)"
                  >
                      <i class="mdi mdi-gauge"></i>
                      <span class="hide-menu">Equipos </span>
                  </a>
                  <ul aria-expanded="false" class="collapse first-level">
                      <li class="sidebar-item">
                          <a class="sidebar-link" th:href="@{/equipo/lista}">
                              <i class="mdi mdi-adjust"></i>
                              <span class="hide-menu"> Ver equipos </span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link" th:href="@{/equipo/form-registrar}">
                              <i class="mdi mdi-adjust"></i>
                              <span class="hide-menu"> Registrar equipo </span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link" th:href="@{/categoria/form-registrar}">
                              <i class="mdi mdi-adjust"></i>
                              <span class="hide-menu"> Registrar categoria </span>
                          </a>
                      </li>
                  </ul>
              </li>

              <li class="nav-small-cap">
                  <i class="mdi mdi-dots-horizontal"></i>
                  <span class="hide-menu">Solicitud</span>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link" th:href="@{/solicitud/form-registrar}">
                      <i class="mdi mdi-adjust"></i>
                      <span class="hide-menu"> Nueva solicitud </span>
                  </a>
              </li>
            
            <li class="nav-small-cap">
              <i class="mdi mdi-dots-horizontal"></i>
              <span class="hide-menu">Reservas</span>
            </li>
          </ul>-->
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
        <a
                class="link"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                href=""
                title="Settings"
        ><i class="ti-settings"></i
        ></a>
        <!-- item-->
        <a
                class="link"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                href=""
                title="Email"
        ><i class="mdi mdi-gmail"></i
        ></a>
        <!-- item-->
        <a
                class="link"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                href=""
                title="Logout"
        ><i class="mdi mdi-power"></i
        ></a>
    </div>
    <!-- End Bottom points-->
</aside>
</body>
</html>