<!DOCTYPE html>
<html lang="es" layout:decorate="~{/plantilla/plantilla-publica}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>CETIC</title>
  <th:block layout:fragment="head">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </th:block>
</head>
<body>
<div id="app" layout:fragment="contenido">
  <div class="container-fluid">
    <div class="row page-titles">
      <div class="col-12">
        <div class="card">
          <div class="border-bottom title-part-padding">
            <h3 class="card-title mb-0">Formulario de solicitudes</h3>
          </div>
          <div class="card-body wizard-content">
            <h6 class="card-subtitle mb-3"></h6>
            <form class="tab-wizard wizard-circle" id="form-solicitud" method="POST"
                  th:object="${solicitud}"
                  th:action="@{/solicitud/registrar}">
              <!-- Step 1 -->
              <section>
                <h5>1. Seleccione su tipo de solicitud</h5>
                <div class="row">
                  <input type="hidden" th:field="*{tipoSolicitud}" v-model="tipoSolicitud">
                  <div class="col-md-4">
                    <div :class="tipoSolicitud === 'SERVICIO_TECNICO' ? 'active' : ''"
                         @click="tipoSolicitud = 'SERVICIO_TECNICO'"
                         class="card bg-light-primary text-center p-2 rounded"
                         style="cursor: pointer">
                      <div class="card-text">
                                                <span class="mdi mdi-wrench" style="font-size: 3em">
                                                </span>
                      </div>
                      <div class="card-title">
                        SERVICIO TECNICO
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div :class="tipoSolicitud === 'RESERVA_DE_LABORATORIO' ? 'active' : ''"
                         @click="tipoSolicitud = 'RESERVA_DE_LABORATORIO'"
                         class="card bg-light-primary text-center p-2 rounded"
                         style="cursor: pointer">
                      <div class="card-text">
                                                <span class="mdi mdi-clock" style="font-size: 3em">
                                                </span>
                      </div>
                      <div class="card-title">
                        RESERVA DE LABORATORIO
                      </div>
                    </div>
                  </div>
                
                </div>
              </section>
              
              <section>
                <h5>2. Información personal</h5>
                <div class="row">
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="nombres">Nombres :</label>
                      <input class="form-control" id="nombres" th:field="*{cliente.nombre}" type="text"/>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="mb-3">
                      <label for="paterno">Apellidos :</label>
                      <input class="form-control" id="paterno" th:field="*{cliente.apellidos}" type="text"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="ci">CI :</label>
                      <input class="form-control" id="ci" th:field="*{cliente.ci}" type="tel"/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="celular">N° Celular :</label>
                      <input class="form-control" id="celular" type="tel" th:field="*{cliente.celular}"/>
                    </div>
                  </div>
                </div>
              </section>
              
              <section v-if="tipoSolicitud === 'RESERVA_DE_LABORATORIO'">
                <h5>3. Datos de la reserva</h5>
                <div class="row">
                  <div class="col-md-12">
                    <label for="motivo">Motivo de la reserva: (Escriba el nombre de su actividad a realizar)</label>
                    <textarea class="form-control" id="motivo" name="motivoReserva"
                              rows="3"></textarea>
                  </div>
                </div>
              </section>
              
              <section v-else-if="tipoSolicitud === 'SERVICIO_TECNICO'">
                <h5>3. Datos de la solicitud</h5>
                <div class="row">
                  <div class="col-md-12">
                    <label>Indique el motivo de su solicitud : (Marque las casillas)</label>
                    <div class="col-md-12" th:each="tipoServicio: ${listaTipoServicio}">
                      <div class="card border border-info border-2">
                        <div class="card-title bg-info text-white">
                          <span class="mx-2" th:text="${tipoServicio.nombre}"></span>
                        </div>
                        <div class="card-text px-2">
                          <th:block th:each="motivo : ${tipoServicio.listaMotivo}">
                            <label class="mx-2 bg-light-info px-2 py-1 rounded-pill" style="cursor: pointer;">
                              <span th:text="${motivo.nombre}"></span>
                              <input class="ms-1" type="checkbox" name="motivosSeleccionados" th:value="${motivo.idMotivo}">
                            </label>
                          </th:block>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>r
              </section>
              
              <section>
                <h5>4. Descripción de la solicitud</h5>
                <label v-if="tipoSolicitud === 'RESERVA_DE_LABORATORIO'">Describa en que fechas requiere y a que hora, si es necesario, el nombre del laboratorio</label>
                <label v-else-if="tipoSolicitud === 'SERVICIO_TECNICO'">Describa algún dato adicional si lo requiere</label>
                <div class="row">
                  <div class="col-md-12">
                    <label for="descripcion"></label>
                    <textarea class="form-control" id="descripcion" th:field="*{descripcion}"></textarea>
                  </div>
                </div>
              </section>
              
              <button class="btn btn-success rounded-pill px-4 mt-4" type="submit">
                <div class="d-flex align-items-center">
                  <i class="feather-sm me-1 fill-icon" data-feather="save"></i>
                  Enviar solicitud
                </div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div layout:fragment="script">
  <style>
    section{
      margin-top: 1em;
      border-bottom: #d2d2d2 solid 3px;
    }
    
    .active {
      --bs-bg-opacity: 1;
      background-color: rgb(199, 195, 227) !important;
    }
  </style>
  <script>
    const {createApp, ref} = Vue
    
    createApp({
      setup() {
        const listaTipoSolicitud = ['SERVICIO_TECNICO', 'RESERVA_DE_LABORATORIO']
        const tipoSolicitud = ref('SERVICIO_TECNICO')
        return {
          tipoSolicitud
        }
      }
    }).mount('#app')
  </script>
</div>
</body>
</html>