<!DOCTYPE html>
<html lang="en" layout:decorate="~{/plantilla/plantilla-admin}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
  <th:block layout:fragment="head">
    <link rel="stylesheet" th:href="@{/dist/libs/sweetalert2/dist/sweetalert2.min.css}">
  </th:block>
</head>
<body>
<div layout:fragment="contenido">
  
  <!--AQUI COMIENZAS TU LISTA, LO DEMAS COPIAS Y PEGAS-->
  <div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
      <h3 class="text-themecolor mb-0">Solicitudes</h3>
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active">
          <a th:href="@{/solicitud/lista}">Lista de solicitudes</a>
        </li>
      </ol>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-info">
          <div class="card-body text-white">
            <div class="d-flex flex-row align-items-center">
              <div class=" round rounded-circle text-white d-inline-block text-center bg-light-info text-info">
                <i data-feather="users" class="fill-white text-info"></i>
              </div>
              <div class="ms-3">
                <span class="text-white-50">SOLICITUDES</span>
                <h4 class="mb-0 text-white">PENDIENTES</h4>
              </div>
              <div class="ms-auto">
                <h2 class="font-weight-medium mb-0 text-white" th:text="${nPendientes}"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-success">
          <div class="card-body text-white">
            <div class="d-flex flex-row align-items-center">
              <div class=" round rounded-circle text-white d-inline-block text-center bg-light-success text-success">
                <i
                    data-feather="credit-card"
                    class="fill-white text-success"
                ></i>
              </div>
              <div class="ms-3">
                <span class="text-white-50">SOLICITUDES</span>
                <h4 class="mb-0 text-white">ACEPTADAS</h4>
              </div>
              <div class="ms-auto">
                <h2 class="font-weight-medium mb-0 text-white"  th:text="${nAceptadas}"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card bg-danger">
          <div class="card-body text-white">
            <div class="d-flex flex-row align-items-center">
              <div class=" round rounded-circle text-white d-inline-block text-center bg-light-danger text-danger">
                <i
                    data-feather="settings"
                    class="fill-white text-danger"
                ></i>
              </div>
              <div class="ms-3">
                <span class="text-white-50">SOLICITUDES</span>
                <h4 class="mb-0 text-white">RECHAZADAS</h4>
              </div>
              <div class="ms-auto">
                <h2 class="font-weight-medium mb-0 text-white" th:text="${nRechazadas}"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-info">
            <h4 class="mb-0 text-white">
              Lista de solicitudes</h4>
          </div>
          <div class="card-body">
            <div class="py-2 d-flex justify-content-end">
              <!--AQUI TIENE QUE IR LA RUTA DE TU GETMAPPING-->
              <a class="btn btn-primary" th:href="@{/solicitud/form-registrar}">
                Registrar <i class="feather-sm fill-white" data-feather="file-plus"></i>
              </a>
            </div>
            <table class="table table-bordered table-striped" id="tabla-equipo">
              <thead>
              <tr>
                <th>N° Solicitud</th>
                <th>Fecha de solicitud</th>
                <th>Cliente</th>
                <th>Tipo de solicitud</th>
                <th>Estado</th>
                <th>Operaciones</th>
              </tr>
              </thead>
              <tbody>
              <!--ESTA LISTA SE RECIBE DESDE EL CONTROLADOR model.addAttribute("listaEquipo", listaEquipo);-->
              <tr th:each="solicitud : ${listaSolicitud}">
                <td th:text="${solicitud.nroSolicitud}"></td>
                <td th:text="${#temporals.format(solicitud.fechaSolicitud, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${solicitud.cliente?.nombre+' '+solicitud.cliente?.apellidos}"></td>
                <td th:text="${solicitud.tipoSolicitud.nombreFormal}"></td>
                <td th:text="${solicitud.estadoSolicitud}"></td>
                <td>
                  <th:block
                      th:if="${solicitud.tipoSolicitud.name() == 'SERVICIO_TECNICO' && solicitud.estadoSolicitud.name() == 'PENDIENTE'}">
                    <a class="btn btn-success btn-circle" data-bs-placement="top" data-bs-toggle="tooltip"
                       th:href="@{/servicio/solicitud/{nroSolicitud}/atender(nroSolicitud=${solicitud.nroSolicitud})}"
                       title="Atender servicio">
                      <i class="feather-sm fill-white" data-feather="check"></i>
                    </a>
                  </th:block>
                  
                  <th:block
                      th:if="${solicitud.tipoSolicitud.name() == 'SERVICIO_TECNICO' && solicitud.estadoSolicitud.name() == 'ACEPTADA'&& !solicitud.esValidoEntrega()}">
                    <a class="btn btn-info btn-circle" data-bs-placement="top" data-bs-toggle="tooltip"
                       th:href="@{/servicio/solicitud/{nroSolicitud}/seguimiento-servicio(nroSolicitud=${solicitud.nroSolicitud})}"
                       title="Seguimiento servicio">
                      <i class="feather-sm fill-white" data-feather="edit"></i>
                    </a>
                  </th:block>
                  
                  <th:block
                      th:if="${solicitud.tipoSolicitud.name() == 'SERVICIO_TECNICO' && solicitud.estadoSolicitud.name() == 'ACEPTADA' && solicitud.esValidoEntrega()}">
                    <a class="btn btn-info btn-circle" data-bs-placement="top" data-bs-toggle="tooltip"
                       target="_blank"
                       th:href="@{/solicitud/api/v1/informe-servicio-equipo/{nroSolicitud}(nroSolicitud=${solicitud.nroSolicitud})}" title="Imprimir informe de entrega">
                      <i class="feather-sm fill-white" data-feather="archive"></i>
                    </a>
                  </th:block>
                  
                  <th:block
                      th:if="${solicitud.tipoSolicitud.name() == 'SERVICIO_TECNICO'}">
                    <a class="btn btn-light-secondary btn-circle" data-bs-placement="top" data-bs-toggle="tooltip"
                       target="_blank"
                       th:href="@{/solicitud/api/v1/solicitud-servicio/{nroSolicitud}(nroSolicitud=${solicitud.nroSolicitud})}" title="Imprimir solicitud de servicio tecnico">
                      <i class="feather-sm fill-white" data-feather="printer"></i>
                    </a>
                  </th:block>
                  
                  
                  <th:block th:if="${solicitud.tipoSolicitud.name() == 'RESERVA_DE_LABORATORIO'}">
                    <a class="btn btn-light-secondary btn-circle"
                       data-bs-placement="top"
                       data-bs-toggle="tooltip"
                       th:href="@{/reserva/solicitud/{nroSolicitud}/agendar(nroSolicitud=${solicitud.nroSolicitud})}"
                       title="Agendar reserva">
                      <i class="feather-sm fill-white" data-feather="clock"></i>
                    </a>
                  </th:block>
                  <!--ESTOS BOTONES COPIAS Y PEGAS Y LO CAMBIAS POR TUS RUTAS-->
                  <button th:if="${solicitud.estadoSolicitud.name() == 'PENDIENTE'}" class="btn btn-danger btn-circle"
                          data-bs-placement="top" data-bs-toggle="tooltip"
                          th:attr="onclick='eliminarEquipo(\'' + ${solicitud.nroSolicitud} + '\')'"
                          title="Rechazar">
                    <i class="feather-sm fill-white" data-feather="x"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--    AQUI TERMINA TU LISTA, LO DEMAS COPIAS Y PEGAS-->
</div>
<div layout:fragment="script">
  <script th:src="@{/dist/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/dist/libs/sweetalert2/dist/sweetalert2.min.js}"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
  <script>
    $("#tabla-equipo").DataTable({
      "ordering": false
    });
    
    //ESTE METODO ES PARA ELIMINAR Y SE ENVIA A TU METODO DE ELIMINAR DEL CONTROLADOR
    function eliminarEquipo(nroSolicitud) {
      Swal.fire(
          {
            title: "Estás seguro?",
            text: "La solicitud sera rechazada!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, eliminar!",
            cancelButtonText: "No, cancelar",
            preConfirm: async () => {
              try {
                const response = await fetch(`/solicitud/rechazar/${nroSolicitud}`, {method: "DELETE"})
                if (!response.ok) throw new Error(response.text());
                const data = await response.text();
                Swal.fire({
                  title: "Rechazado!",
                  text: data,
                  icon: "success",
                  confirmButtonText: "Entendido",
                  preConfirm: () => location.reload(),
                  allowOutsideClick: false,
                  allowOutsideKey: false
                });
              } catch (error) {
                Swal.showValidationMessage(`Ocurrió un error en la petición: ${error}`);
                console.log(error);
              }
            },
            allowOutsideClick: () => !Swal.isLoading(),
          },
      );
    }
  </script>
</div>
</body>
</html>