<!DOCTYPE html>
<html lang="en" layout:decorate="~{/plantilla/plantilla-admin}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div layout:fragment="contenido">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-12 align-self-center">
                <h3 class="text-themecolor mb-0">Laboratorios</h3>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a th:href="@{/equipo/lista}">Lista de Laboratorios</a>
                    </li>
                    <li class="breadcrumb-item active">Formulario de registro</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="mb-0 text-white">Formulario de registro de Laboratorio</h4>
                    </div>
                    <!--ESTE METODO IRA AL @PostMapping de tu controlador-->
                    <!--LA VARIABLE ${equipo} se recibe del controlador mediante model.addAttribute("equipo", new Equipo());
                    o el otro model.addAttribute("equipo", equipo);
                    -->
                    <form method="POST" th:action="@{/laboratorio/registrar}" th:object="${laboratorio}">

                        <!--En th:field="*{idLaboratorio}" se refiere al id del laboratorio, esto hace referencia a la columna de tu entidad-->
                        <!--Haces lo mismo para todos-->
                        <input th:field="*{idLaboratorio}" type="hidden"/>
                        <div>
                            <div class="card-body">
                                <h4 class="card-title">Información del laboratorio</h4>
                                <div class="row pt-3">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="control-label" for="categoria">Categoria:</label>
                                            <!--El th:field="*{categoria}" se refiere a la columna categoria de tu entidad-->
                                            <select class="form-control" id="categoria" th:field="*{categoria}">
                                                <option hidden th:value="null">--SELECCIONE--</option>
                                                <!--Repetir esto por cada categoria en la variable listaCategoria que viene del controlador
                                                model.addAttribute("listaCategoria", listaCategoria);
                                                -->
                                                <option th:each="categoria : ${listaCategoria}"
                                                        th:text="${categoria.nombreFormal}"
                                                        th:value="${categoria.name}"></option>
                                            </select>
                                            <small class="form-control-feedback">
                                                Seleccione la categoria del laboratorio
                                            </small>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="control-label" for="nombre">Nombre de Laboratorio: </label>
                                            <input class="form-control" id="nombre" placeholder="--ESCRIBA--"
                                                   th:field="*{nombre}"/>
                                        </div>
                                    </div><div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="control-label" for="horario">Horario: </label>
                                            <input class="form-control" id="horario" placeholder="--ESCRIBA--"
                                                   th:field="*{horario}"/>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="control-label">Estado del laboratorio:</label>
                                            <div class="form-check"
                                                 th:each="estadoItem : ${T(uap.fit.cetic.model.enums.EstadoLaboratorio).values()}">
                                                <input class="form-check-input"
                                                       th:id="'customRadio_' + ${estadoItem}"
                                                       th:name="estadoLaboratorio"
                                                       th:value="${estadoItem}"
                                                       type="radio"/>
                                                <label class="form-check-label text-uppercase"
                                                       th:data-checked="${estadoItem == laboratorio.estadoLaboratorio} ? 'true' : 'false'"
                                                       th:for="'customRadio_' + ${estadoItem}"
                                                       th:text="${estadoItem.nombreFormal}"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                            <hr/>
                            <div class="form-actions">
                                <div class="card-body border-top">
                                    <button class="btn btn-success rounded-pill px-4" type="submit">
                                        <div class="d-flex align-items-center">
                                            <i class="feather-sm me-1 fill-icon" data-feather="save"></i>
                                            Registrar
                                        </div>
                                    </button>
                                    <button class="btn btn-danger rounded-pill px-4 ms-2 text-white"
                                            onclick="window.history.back();"
                                            type="button">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="script">
    <script>
        $('.form-check-label').each(function () {
            if ($(this).attr('data-checked') === 'true') {
                const inputId = $(this).attr('for');
                $('#' + inputId).prop('checked', true);
            }
        });
    </script>
</div>
</body>
</html>